page-home {

    ion-slides{
        background-image: url("../assets/imgs/bg.jpg");
        background-size: cover;
    }


ion-icon{
    color:hsl(0, 0%, 100%);

}

h1{
    text-shadow: 8px 1px 20px rgb(46, 44, 34);
    margin-top: auto;
    font-size: 3em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color: #ffed48;
    font-family: 'Times New Roman';

}

}
