<ion-slides >

  <ion-slide class="slide1">
      <ion-icon name="heart-outline"></ion-icon>
    <h1>Welcome<br></h1><h2>to the new service for the special person :)</h2>
  </ion-slide>

  <ion-slide class="slide2">
    <ion-icon name="heart-outline"></ion-icon>
    <h1>Simple</h1>
    <h2>We made the App as simple as possible :)</h2>
  </ion-slide>

  <ion-slide class="slide3">
    <ion-icon name="heart-outline"></ion-icon>
    <h1>Helpful</h1>
    <h2>Our main aim is to serve you the helpful Voice :)</h2>
    <ion-footer>
    <button ion-button tappable (click)="gender()" full class="start">Start</button>
      
    </ion-footer>
  </ion-slide>

</ion-slides>