page-gender {
 
ion-content{
    background-image: url('../assets/imgs/bg2.jpg');
    background-size: cover;
}
.subcard{
    height:13em;
  //  border-style: groove;
    text-align: center;
    padding-top: 0.50em;
    background-color: transparent;
        
}
.cardheader{
    color: white;
    margin-top: -0.70em;
}

h1{
    text-align: center;
    padding-top: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 2px 4px black;


}

ion-row{
    margin-top:4em;
}
.maincard{
    height: 30em;
    margin-top: 5em;
    background-color: #78d4ff;
    background-color:transparent;
    border-style:ridge;
    
    border-radius: 1em;
    border-color: white;
   }


}

