<ion-header>
  <ion-navbar>
    <ion-title>Select Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="maincard">
      <ion-item>
          <ion-label>Language</ion-label>
          <ion-select [(ngModel)]="gender" interface="action-sheet" >
            <ion-option value="English">English</ion-option>
            <ion-option value="Gujrati">Gujrati</ion-option>
          </ion-select>
        </ion-item>
    <h1>Please choose your gender, <br>So we can start..</h1>
  <ion-row>
    <ion-col col-6>
  <ion-card (click)="male()" class="subcard">
    <img src="../assets/imgs/boy1.png" >
    <ion-card-header class="cardheader">Male</ion-card-header>
  </ion-card>
</ion-col>
<ion-col col-6>
  <ion-card (click)="female()" class="subcard">
      <img src="../assets/imgs/girl1.png">
      <ion-card-header class="cardheader">Female</ion-card-header>
      
    </ion-card>
  </ion-col>
  </ion-row>
</ion-card>
  </ion-content>

