
<ion-header>

  <ion-navbar>
    <ion-title>Choose Catagory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-6>
<ion-card>
  <img src="../assets/imgs/Greeting.jpg">
  <ion-card-header>
    Whishes
  </ion-card-header>
</ion-card>
</ion-col>
<ion-col col-6>
<ion-card>
    <img src="../assets/imgs/conversation.jpg">
    <ion-card-header>
      Meeting
    </ion-card-header>
    
  </ion-card>
</ion-col>
</ion-row>

<ion-row>
    <ion-col col-6>
<ion-card>
  <img src="../assets/imgs/angry.jpg">
  <ion-card-header>
    Angry
  </ion-card-header>
</ion-card>
</ion-col>

<ion-col col-6>
  <ion-card>
    <img src="../assets/imgs/apology.jpg">
    <ion-card-header>
      Apology
    </ion-card-header>
  </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col col-6>
    <ion-card>
      <img src="../assets/imgs/Love.jpg">
      <ion-card-header>
        Love
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col col-6>
    <ion-card>
      <img src="../assets/imgs/happy.jpg">
      <ion-card-header>
        Happy
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
